@{
    ViewBag.Title = "Index";   
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bienvenido a Smartnight</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            
        </div>
    </section>
}
    <ol class="round">        
             <p>Portal para la configuración y gestión de datos de la plataforma Smartnight.</p>        
    </ol>